QeoDart
cpp/dart1.cpp
cpp/dart1.hpp
cpp/io1.cpp
*.o
moc_*.cpp
ui*.h
*.out
.~lock*
*-swp
test.png
osm/
qcf/*test*
qrc*cpp
*.user
*.pro.user.*
*qeodart.log
BACKGROUND.png
BORDERS.png
ELEVATIONS.png
RIVERS.png
