Source: qeodart
Section: unknown
Priority: extra
Maintainer: Markus Brenneis <support.gulp21@googlemail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://gulp21.github.com/qeodart.html
#Vcs-Git: git://git.debian.org/collab-maint/qeodart-2.0.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/qeodart-2.0.git;a=summary

Package: qeodart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, qt4-qmake
Description: Geography Education Game
 QeoDart is a free geography education game.
 .
 Features:
 * Find a given place on the map
 * Name the marked place
 * Single and multiplayer mode
 * Multiplayer-network game (experimental)
 * Training mode
 * Play with time
 * Search places
